<div class="instanc-warp">
  <h4 (click)="backCreateInstance()">
    <clr-icon class="back" size="md" shape="undo"></clr-icon>
    Create a note instance
  </h4>
  <div class="instanc-container">
    <form class="form-content clr-form clr-form-horizontal">
      <div class="clr-form-control">
        <label for="example1" class="clr-control-label">{{'HOME.NOTEBOOKS.LIST.INSTANCE_NAME' | translate}}</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input name="instance-name" type="text" id="example1" [(ngModel)]="noteBook.form.name" placeholder="Placeholder" class="clr-input" />
          </div>
        </div>
      </div>
      <div class="desc">
        63-char limit with lowercase letters, digits,or '—' only, Must strat with a letter. Cannot end with a '—'
      </div>
      <div class="clr-form-control">
        <label for="example2" class="clr-control-label">{{'HOME.NOTEBOOKS.NEW_INSTANCE.REGION' | translate}}</label>
        <div class="clr-control-container">
          <div class="clr-select-wrapper">
            <select placeholder="Select Option" id="example2">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <clr-signpost>
              <clr-signpost-content *clrIfOpen>
                <h3>Default Signpost</h3>
                <p>Position: <code class="clr-code">right-middle</code></p>
              </clr-signpost-content>
            </clr-signpost>
          </div>
        </div>
        <label for="example3" class="clr-control-label label2">{{'HOME.NOTEBOOKS.LIST.ZONE' | translate}}</label>
        <div class="clr-control-container">
          <div class="clr-select-wrapper">
            <select placeholder="Select Option" id="example3">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <clr-signpost>
              <clr-signpost-content *clrIfOpen>
                <h3>Default Signpost</h3>
                <p>Position: <code class="clr-code">right-middle</code></p>
              </clr-signpost-content>
            </clr-signpost>
          </div>
        </div>
      </div>
      <div class="option">
        <p class="option-title">
          {{'HOME.NOTEBOOKS.NEW_INSTANCE.INSTANCE_PROPERTIES' | translate}}
          <clr-icon class="back" solid shape="pencil"></clr-icon>

        </p>
        <ul class="option-list">
          <li>
            <label class="clr-control-label" for="input1">{{'HOME.NOTEBOOKS.LIST.ENVIRONMENT' | translate}}</label>
            <input clrInput type="text" name="" id="input1">
          </li>
          <li>
            <label class="clr-control-label" for="input2">{{'HOME.NOTEBOOKS.LIST.MACHINE_TYPE' | translate}}</label>
            <input clrInput type="text" name="" id="input2">
          </li>
          <li>
            <label class="clr-control-label" for="input3">{{'HOME.NOTEBOOKS.NEW_INSTANCE.BOOT_DISK' | translate}}</label>
            <input clrInput type="text" name="" id="input3">
          </li>
          <li>
            <label for="example4" class="clr-control-label">{{'HOME.NOTEBOOKS.NEW_INSTANCE.SUBNETWORK' | translate}}</label>
            <div class="clr-control-container">
              <div class="clr-select-wrapper">
                <select placeholder="Select Option" id="example4">
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <label class="clr-control-label" for="input4">{{'HOME.NOTEBOOKS.NEW_INSTANCE.EXTERNAL_IP' | translate}}</label>
            <input clrInput type="text" name="" id="input4">
          </li>
          <li>
            <label class="clr-control-label" for="input5">{{'HOME.NOTEBOOKS.LIST.PERMISSION' | translate}}</label>
            <input clrInput type="text" name="" id="input5">
          </li>
        </ul>
        <div class="footer">
          <!-- <p (click)="advancedOptions()" class="other-option">{{'HOME.NOTEBOOKS.NEW_INSTANCE.ADVANCED_OPTIONS' | translate}}</p>
          <div>
            <button (click)="cancel()" class="btn btn-outline">{{'HOME.POLICY.DIALOG.CANCEL' | translate}}</button>
            <button (click)="create()" class="btn btn-info-outline">{{'HOME.NOTEBOOKS.CREATE' | translate}}</button>
          </div> -->
        </div>
      </div>
    </form>
    <div class="prece-detaile">
      <h5>
        $102.69 monthly estimate
      </h5>
      <p>
        That‘s about $0.141 hourly
      </p>
      <p>
        Pay for wath you use: No upfront costs and per second billing
      </p>
      <p>
        Networking cost also applies. <a href="javascript:;">Learn more</a>
      </p>
      <h5>
        <clr-icon class="angle" size="md"  shape="angle"></clr-icon>
        DETALS
      </h5>
    </div>
  </div>
</div>