<div class="note-wrap">
  <!-- <iframe src="https://www.baidu.com" id="inner" frameborder="0"></iframe> -->
  <div class="note-nav">
    <!-- <p  (click)="aa()">8888</p> -->
    <!-- <a href="http://www.w3schools.com" target="_blank">88888</a> -->
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="/cloudtides/notebooks/newInstance" routerLinkActive="active">
        <clr-icon shape="plus-circle" solid></clr-icon>
        {{'HOME.NOTEBOOKS.NEW_INSTANCE.NEW_INSTANCE' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="/cloudtides/notebooks/list" routerLinkActive="active">
        <clr-icon shape="list" solid></clr-icon>
        {{'HOME.NOTEBOOKS.LIST.INSTANCE_LIST' | translate}}
      </a>
    </clr-vertical-nav>
  </div>
  <div class="note-container">
    <router-outlet></router-outlet>
  </div>
</div>