
  <div class="ocs-title grid">
    <br>
    <div class="wrapper">
      <div class="box a">
        {{'vin-main.part1-title' | translate}}
      </div>
      <div class="box b">
        <ul class="aa">
          <li>
            <a href="#" target="_blank">
              <i id="show-option" title="VIN文案" class="fa fa-file-pdf-o"></i>
              {{'vin-main.part1-list1' | translate}}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i id="show-option" title="VIN指南" class="fa fa-file-pdf-o"></i>
              {{'vin-main.part1-list2' | translate}}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i id="show-option" title="VIN Link" class="fa fa-file-pdf-o"></i>
              {{'vin-main.part1-list3' | translate}}
            </a>
          </li>
        </ul>
      </div>
      <div class="box c">
        {{'vin-main.part1-content' | translate}}
      </div>
    </div>
    <br>
    <br>
  </div>
  
  <div class="ocs-title">
    <div class="wrapper2">
      <div class="box a2">{{'vcpp-main.part3-title' | translate}}</div>
      <div class="button-learn-more"><span>{{'vcpp-main.part3-learnmore'|translate}}</span></div>
      <div class="box b2">
        <div class="wrapper-card">
          <div style="text-align: center; width: 100%;">
            <img src="/assets/logo/HKT.png" width=256px style="display: inline-block;">
          </div>
          <h3>Hong Kong Teleommunications (HKT) Limited</h3>
          <p>HKT is Hong Kong's premier telecommunications service provider and leading operator in fixed-line, broadband and mobile communication services. It meets the needs of Hong Kong public and social...</p>
          <br>
          <br>
          <br>
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
      </div>
      <div class="box c2">
        <div class="wrapper-card">
          <div style="text-align: center; width: 100%;">
            <img src="/assets/logo/alibaba.png" width=256px style="display: inline-block;">
          </div>
          <h3>Alibaba Cloud</h3>
          <p>As a business unit of Alibaba Group (NYSE: BABA) and one of the world's top 3 laaS providers, Alibaba Cloud providers a comprehensive suite of global cloud computing services to power both international onlin...</p>
          <br>
          <br>
          <br>
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
      </div>
      <div class="box d2">
        <div class="wrapper-card">
          <div style="text-align: center; width: 100%;">
            <img src="/assets/logo/cds.png" width=128px style="display: inline-block;">
          </div>  
          <h3>capitalonline data service co.,ltd</h3>
          <p>CDS Global Cloud is known for being specialists to deliver exceptional online experiences for global business and team in China. CDS headquarters is listed at the Shenzhen Stock market. As s leading ISP...</p>
          <br>
          <br>
          <br>  
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
      </div>
      <div class="box bb2">
        <div class="wrapper-card">
          <div style="text-align: center; width: 100%;">
            <img src="/assets/logo/HKT.png" width=256px style="display: inline-block;">
          </div>
          <h3>Hong Kong Teleommunications (HKT) Limited</h3>
          <p>HKT is Hong Kong's premier telecommunications service provider and leading operator in fixed-line, broadband and mobile communication services. It meets the needs of Hong Kong public and social...</p>
          <br>
          <br>
          <br>
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
      </div>
      <div class="box c2">
        <div class="wrapper-card">
          <div style="text-align: center; width: 100%;">
            <img src="/assets/logo/alibaba.png" width=256px style="display: inline-block;">
          </div>
          <h3>Alibaba Cloud</h3>
          <p>As a business unit of Alibaba Group (NYSE: BABA) and one of the world's top 3 laaS providers, Alibaba Cloud providers a comprehensive suite of global cloud computing services to power both international onlin...</p>
          <br>
          <br>
          <br>
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
      </div>
      <div class="box d2">
        <div class="wrapper-card">
          <div style="text-align: center; width: 100%;">
            <img src="/assets/logo/cds.png" width=128px style="display: inline-block;">
          </div>  
          <h3>capitalonline data service co.,ltd</h3>
          <p>CDS Global Cloud is known for being specialists to deliver exceptional online experiences for global business and team in China. CDS headquarters is listed at the Shenzhen Stock market. As s leading ISP...</p>
          <br>
          <br>
          <br>  
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="ocs-title hidden">
    <div style="max-height:930px;overflow-y:auto;overflow-x:hidden;width:100%" class="infinity-div inner-scroll">
      <div class="wrapper2">
        <div class="box a2">{{'vcpp-main.part3-title' | translate}}</div>
        <div class="button-learn-more"><span>{{'vcpp-main.part3-learnmore'|translate}}</span></div>
        <div class="box b2">
          <div class="wrapper-card">
            <h4>Hong Kong Teleommunications (HKT) Limited</h4>
            <p>HKT is Hong Kong's premier telecommunications service provider and leading operator in fixed-line, broadband and mobile communication services. It meets the needs of Hong Kong public and social...</p>
            <br>
            <br>
            <br>
            <a class="wrapper-card-button hidden" href="#">
              <span>+ COMPARE</span>
            </a>
          </div>
        </div>
        <div class="box c2">
          <div class="wrapper-card">
          <h4>Alibaba Cloud</h4>
          <p>As a business unit of Alibaba Group (NYSE: BABA) and one of the world's top 3 laaS providers, Alibaba Cloud providers a comprehensive suite of global cloud computing services to power both international onlin...</p>
          <br>
          <br>
          <br>
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
        </div>
        <div class="box d2">
          <div class="wrapper-card">
          <h4>capitalonline data service co.,ltd</h4>
          <p>CDS Global Cloud is known for being specialists to deliver exceptional online experiences for global business and team in China. CDS headquarters is listed at the Shenzhen Stock market. As s leading ISP...</p>
          <br>
          <br>
          <br>  
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
        </div>
      </div>
      <div class="wrapper2">
        <div class="box a2">{{'vcpp-main.part3-title' | translate}}</div>
        <div class="button-learn-more"><span>{{'vcpp-main.part3-learnmore'|translate}}</span></div>
        <div class="box b2">
          <div class="wrapper-card">
            <h4>Hong Kong Teleommunications (HKT) Limited</h4>
            <p>HKT is Hong Kong's premier telecommunications service provider and leading operator in fixed-line, broadband and mobile communication services. It meets the needs of Hong Kong public and social...</p>
            <br>
            <br>
            <br>
            <a class="wrapper-card-button hidden" href="#">
              <span>+ COMPARE</span>
            </a>
          </div>
        </div>
        <div class="box c2">
          <div class="wrapper-card">
          <h4>Alibaba Cloud</h4>
          <p>As a business unit of Alibaba Group (NYSE: BABA) and one of the world's top 3 laaS providers, Alibaba Cloud providers a comprehensive suite of global cloud computing services to power both international onlin...</p>
          <br>
          <br>
          <br>
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
        </div>
        <div class="box d2">
          <div class="wrapper-card">
          <h4>capitalonline data service co.,ltd</h4>
          <p>CDS Global Cloud is known for being specialists to deliver exceptional online experiences for global business and team in China. CDS headquarters is listed at the Shenzhen Stock market. As s leading ISP...</p>
          <br>
          <br>
          <br>  
          <a class="wrapper-card-button hidden" href="#">
            <span>+ COMPARE</span>
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <!-- <landingfooter></landingfooter> -->
  