<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
  <div class="content">

    <!-- social media icons -->
    <div class="top">
      <div class="logo-details">
        <!-- <img src='/assets/img/vmware.svg' width=128px>  -->
        <!-- &nbsp; -->
        <span class="logo_name">OpenCloudService</span>
      </div>
      <div class="media-icons hidden">
        <!-- <a href="#" class="fa fa-facebook"></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a> -->
        <a class="weixin" href="#" title="Contact Us">
          <i class="fa fa-weixin"></i>
          <img class="qrcode" src="/assets/img/test_qrcode.png" width=128px>
        </a>
      </div>
    </div>

    <!-- hidden for the current stage -->
    <div class="link-boxes hidden">
      <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li><input type="text" placeholder="Enter your email"></li>
        <a class='btn btn-primary'><span>Subscribe</span></a>
        <!-- <li><input class="subscribe-button" type="button" value="Subscribe"></li> -->
      </ul>
      <ul class="box">
        <li class="link_name">Services</li>
        <li><a href="#">Email Marketing</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="#">Branding</a></li>
        <li><a href="#">Offline</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">About</li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Benefits</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Help</li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <!-- <div class='logo-boxes'>
      <div class="container">
        <h3>白金合作伙伴</h3>
      </div>
      <div class="logo-container">
        <img id="aliyun" src="/assets/logo/Alibaba-cloud-logo-grey.png">
        <img id="microsoft" class="gray" src="/assets/logo/microsoft-azure.png">
        <img id="cdscloud" class="gray" src="/assets/logo/cds.png">
      </div>

    </div> -->
    
  </div>


  <!-- Policy and Copyright, hidden for the current stage -->
  <div class="bottom-details hidden">
    <div class="bottom_text">
      <span class="copyright_text">Copyright &#169; 2021 <a href="#">VMWare.</a>All rights reserved</span>
      <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="#">Terms & condition</a>
      </span>
    </div>
  </div>

  <!-- 备案 -->
  <div class="bottom-container">
    <span>
      <a href="https://beian.miit.gov.cn/#/Integrated/index">
        沪ICP备20023552号
      </a>
    </span>
  </div>


</footer>


