@import '~@cds/core/global.min';
@import '~normalize.css/normalize.css'; 
@import '~@cds/core/global.min'; 
@import '~@cds/core/styles/module.shims.min'; 
@import '~@cds/city/css/bundles/default.min';

.i18n-select {
    color: white;
  }
  
  clr-select-container {
    margin-top: auto;
    margin-bottom: auto;
  }


/* Overall Settings */
.hidden {
  display: none;
  visibility: hidden;
}

h1 {
    font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3,
h4 {
  font-weight: bold;
}
h5,
h6 {
  margin: 8px 0;
}

  /* Nav Bar */

  .header-bg {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999;
  }
  
  .header-6{
    /*here is equivalent to fixed*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .branding{
    position: relative;
    margin-right: 5%;
  }

  .header-nav {
    position: absolute;
    left: 17%;
  }

  .search {
    position: relative;
    margin-left: 1%;
  }

  .mysettings {
    position: absolute;
    right: 20px;
    top: 17px;
  }
  
  .dropdown.bottom-left.open {
    right: 100px;
    top: -2px;
    position: absolute;
    display: flex;
    content: '';
    width: 64px;
    height: 64px;
    background-image: url('/assets/img/language.svg');
    background-size:contain;
    cursor: pointer;
  }

  .dropdown.bottom-left.open:hover .dropdown-menu{
    display: block;
  }

  .selected-lang {
    margin-left: 50px;
    margin-top: 20px;
  }
 
  /* .selected-lang:before {
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    background-image: url('../assets/img/language.svg');
    background-size:contain;
    margin-left: 0px;
  }  */

  .dropdown.bottom-left.open .dropdown-menu {
    display: none;
  }

  .dropdown.bottom-left.open .dropdown-menu:before{
    background-color: #ffffff;
    border-radius: 3px 0 20px;
    bottom: calc(100% - 10px);
    content: '';
    height: 20px;
    pointer-events: none;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
    z-index: -1;
    left: 23px;
  }

  .dropdown.bottom-left.open .dropdown-menu a{
    text-decoration: none;
    margin-left: 5px;
  }

  .dropdown.bottom-left.open .dropdown-menu img{
    margin-left: -10px;
  }

  .dropdown.bottom-left.open .dropdown-menu a:hover{
    color: #000
  }

  .dropdown.bottom-left.open .dropdown-item {
    justify-content: space-between;
  }

  /* .my-clr-dropdown {
    right: 100px;
    top: -2px;
    position: absolute;
    display: flex;
    content: '';
    width: 64px;
    height: 64px;
    cursor: pointer;
  } */

  /* clr-dropdown:hover clr-dropdown-menu{
    display: inline;
  } */

  /* .user-dropdown-menu {
      display: none;
  }

  .user-dropdown-menu:before{
    background-color: #ffffff;
    border-radius: 3px 0 20px;
    bottom: calc(100% - 10px);
    content: '';
    height: 20px;
    pointer-events: none;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
    z-index: -1;
    left: 23px;
  }

  .user-dropdown-menu a{
    color: black;
    text-decoration: none;
    margin-left: 5px;
  } */


  .header-actions #settings {
    margin: 18px 16px;
  }

/* card of functions */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 400px;
}

.container.blue {
  background: #E1F1F6;
}

.container.green {
  background: #D1D8D3;
}

.container.gray {
  background: #E9E4EB;
}

.card {
  width: 60%;
  height: 200px;
  max-height: 300px;
  /* padding: auto; */
  text-align: center;
  /* background: #242625; */
  background: #A9CDDA;
  border-radius: 10px;
  /* box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f; */
}
.card__container {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: white;
}
.card__content {
  width: 90%;
  height: 95%;
  background: #00364D;
  opacity: 80%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  /* box-shadow: 0px 0px 44px #4392AE, -0px -0px 44px #4392AE; */
  transition: 0.5s all ease;
}
.card__content:hover {
  margin-top: -10px;
}
.card__header {
  font-size: 15px;
  /* margin: 40px auto; */
  color:#FFFFFF
}
.card__button {
  padding: 10px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  /* font-weight: bold; */
  cursor: pointer;
  border: none;
  margin: 50px auto;
}



  /* Main Body */
  /* Part 1 */
  
  .ocs-title {
    text-align: center; /* 设置文字水平居中 */
    vertical-align: middle; /* 设置元素垂直居中 */
    /* align-items: center; */
    width:100%;
  }

  .ocs-title.gray {
    background-repeat: repeat;
    background-size: 10%;
    background-image: url('https://images.contentstack.io/v3/assets/bltc5655c2cd1d2c169/blt06fccf1eb787e246/5f329c9018f9ba11abaa08a5/worn_dots_@2X.png');
  }

  .get-start {
    height: 40px;
    width: 150px;
    border-radius: 3px;
    background: #006A91;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bolder;
    outline: none;
    text-align: center;
    padding: 7px;
    transition: all 0.4s ease;
}
.get-start:hover {
    /* background: #FFFFFF; */
    transform: translateY(-2px);
    color: #FFFFFF;
}

.learn-more {
    height: 40px;
    width: 190px;
    border: #006A91 2px solid;
    border-radius: 3px;
    background: #006A91;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    padding: 7px;
    margin-left: 40px;
    transition: all 0.4s ease;
}
.learn-more:hover {
    /* background: ; */
    transform: translateY(-2px);
    color: #FFFFFF;
}

/* Part 2 */

.detail-functions {
  height: 150px;
  width: 210px;
  background: #FFFFFF;
  font-size: 13px;
  text-align: center;
  margin-left: 90px;
  border: #FFFFFF 2px solid;
}


  /* self-defined card */
  .box {
    border: 2px solid #fff;
    width: 400px;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
  }

  .box img {
    width: 100%;
    height: auto;
    transition: all .3s;
  }

  .box:hover img {
    transform: scale(1.2);
  }

  .box .content {
    color:#fff;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
  }

  .box:hover .content{
    left: 0;
    top: 0;
  }

  .box .content p {
    border-top: 1px solid white;
    border-bottom : 1px solid white;
    padding: 20px 0;

  }


/* Responsive Style */

/* .search.large {
  display: none;
} */

.search.small{
  display: none;
}

/* 把浏览器的宽度拖动到小于1000px时触发 */
@media screen and (max-width: 1105px){
  .search.large{
      display: none;
      visibility: hidden;
  }

  .search.small{
    display: block;
  }
}

