<button class="btn btn-primary" (click)="this.opened=true">
    <clr-icon shape="plus"></clr-icon>
    {{ "HOME.ORGNIZATION.ADD_ORGNIZATION" | translate:{} }}
  </button>
    
  <div *ngIf="this.list$ | async as list">
        <!--div class="clr-row" *ngFor="let item of list">  
        <div class="clr-col-12">
          <tide-resource-card [item]="item"></tide-resource-card>
        </div>
      </div-->
    <clr-datagrid>
      <clr-dg-column>
        <div class="key">ID</div>
      </clr-dg-column>
      <clr-dg-column>
        <div class="key">Org Name</div>
      </clr-dg-column>
      <clr-dg-column>
        <div class="key">Total CPU</div>
      </clr-dg-column>
      <clr-dg-column>
        <div class="key">Total Memory</div>
      </clr-dg-column>
      <clr-dg-column>
        <div class="key">Total Disk</div>
      </clr-dg-column>
      <clr-dg-column>
        <div class="key">CPU Usage</div>
      </clr-dg-column>
      <clr-dg-column>
        <div class="key">Memory Usage</div>
      </clr-dg-column>
      <clr-dg-column>
        <div class="key">Disk Usage</div>
      </clr-dg-column>
    
      <clr-dg-row *clrDgItems="let item of list" [clrDgItem]="item">
        <clr-dg-action-overflow>
          <button
            class="btn btn-sm btn-link"
            (click)="this.delete(item?.id)"
          >{{ "HOME.ORGNIZATION.DELETE" | translate:{} }}</button>
        </clr-dg-action-overflow>
        <clr-dg-cell><div class="value">{{item?.id}}</div></clr-dg-cell>
        <clr-dg-cell><div class="value">{{item?.name}}</div></clr-dg-cell>
        <clr-dg-cell><div class="value">{{item?.totalCPU}} GHz</div></clr-dg-cell>
        <clr-dg-cell><div class="value">{{item?.totalRAM}} GB</div></clr-dg-cell>
        <clr-dg-cell><div class="value">{{item?.totalDisk}} GB</div></clr-dg-cell>
        <clr-dg-cell><div class="value">{{item?.currentCPU}}GHz ({{ item?.percentCPU }}%)</div></clr-dg-cell>
        <clr-dg-cell><div class="value">{{item?.currentRAM}}GB ({{ item?.percentRAM  }}%)</div></clr-dg-cell>
        <clr-dg-cell><div class="value">{{item?.currentDisk}}GB ({{ item?.percentDisk }}%)</div></clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
  
  <tide-org-dialog
    *ngIf="this.opened"
    [opened]="this.opened"
    (save)="this.save()"
    (cancel)="this.cancel()">
  </tide-org-dialog>

